body {
  background-color: darkkhaki;
}
.myContainer {
  width: 50%;
  margin: 0 auto;
  border: 4px dotted blue;
  background-color: lightgoldenrodyellow;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
